**/*.md
**/.gitkeep
**/.vscode
.dockerignore
.editorconfig
.eslintrc.js
.git
.gitconfig
.github
.gitignore
.pnpm-store
.husky
.next
.prettierignore
.vscode
charts
config/db/*
config/logs/*
config/*.json
cypress
dist
Dockerfile*
compose.yaml
gen-docs
docs
LICENSE
node_modules
public/os_logo_filled.png
public/preview.jpg
stylelint.config.js
